.container {
  margin-top: 1rem;
  /* width: 100vw; */
  /* width: calc(100vw / 4 - 1.5rem); */
}
.card_title {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}
.card_span_icon {
  margin-left: auto;
}
.card_description {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: grey;
}
.card_data {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: grey;
  margin-top: 10px;
}
.card_priority_container {
  display: flex;
  margin-top: 10px;
}
.card_data_icon {
  display: flex;
  align-items: center;

  color: #000000;
  margin-right: 5px;
}
.card_priority {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: grey;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 20px;
  background: rgb(243, 243, 243);
  padding: 2px 5px;
}
